@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --cristalux: "'Playfair Display', 'serif'";
    --roboto: 'Roboto', 'sans-serif';
}



body {
    overflow-x: hidden;
    font-family: var(--roboto);
}

.title {
    font-family: var(--cristalux);
}

.about {
    background-image: url(assets/imgs/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.order {
    background-image: url(assets/imgs/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.menuLink {
    font-size: 17px;
    text-transform: capitalize;
    transition-duration: 200ms;
    margin-top: 5px;
}

.menuLink:hover {
    font-weight: bold;
    transition-duration: 200ms;
}


.hero {
    background-image: url(/src/assets/imgs/heroBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: url(/src/assets/imgs/heroBg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

aside {
    background-image: url(/src/assets/imgs/heroBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.loading {
    width: 150px;
    height: 150px;
    border: 6px solid;
    border-color: #fcf38b transparent #fcf38b transparent;
    border-radius: 50%;
    animation: spin 1s ease infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.feature {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.cardHover:hover {
    transform: scale(1.2);
    background-color: black;
    transition: all ease 300ms;
}


.cardCRISTALUX {
    
    color: white;
}


.desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.App {
    display: flex;
    align-items: center;
    justify-content: center;
}